
run = "python main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
run = "python main.py"
deploymentTarget = "vm"

[env]
PYTHON_VERSION = "3.11"

[[ports]]
localPort = 5000
externalPort = 80
