
run = "python main.py"
modules = ["python-3.11:v3.11", "postgresql-16:v16"]

[nix]
channel = "stable-24_05"

[deployment]
run = "python main.py"
deploymentTarget = "cloudrun"

[env]
PYTHON_VERSION = "3.11"
FLASK_APP = "main.py"
FLASK_ENV = "development"
DATABASE_URL = "postgresql://biocardio:biocardio86@34.46.61.123:5432/biocardio"

[[ports]]
localPort = 3000
externalPort = 80
